{% extends 'base.html.twig' %}

{% block title %}{{ institution.Name }} | WRLC Aladin-SP{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('list_institutions') }}">Institutions</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ institution.Name }}</li>
        </ol>
    </nav>
    <div class="row align-items-center">
        <h1 class="col col-9">Institution Details</h1>
        <span class="col col-3 text-end">
            <a href="{{ path('auth_n_test', {'institution': institution.index}) }}" class="btn btn-primary">Test AuthN</a>
            <a href="{{ path('edit_institution', {'index': institution.index}) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('delete_institution', {'index': institution.index}) }}" class="btn btn-danger">Delete</a>
        </span>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row" class="col-2 table-primary">Index</th>
                <td class="col-10">{{ institution.Index }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Name</th>
                <td class="col-10">{{ institution.Name }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">WAYF Label</th>
                <td class="col-10">
                    {% if institution.WayfLabel %}
                        {{ institution.WayfLabel }}
                    {% else %}
                        {{ institution.Name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Alma Code</th>
                <td class="col-10">{{ institution.AlmaLocationCode }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">IdP</th>
                <td class="col-10">
                    {% if idpDetails.name.en is defined %}
                        {{ idpDetails.name.en }} -
                    {% endif %}
                    {{ institution.EntityId }}
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Mail Attribute</th>
                <td class="col-10">{{ institution.MailAttribute }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Name Attribute</th>
                <td class="col-10">{{ institution.NameAttribute }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">First Name Attribute</th>
                <td class="col-10">{{ institution.FirstNameAttribute }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">ID Attribute</th>
                <td class="col-10">{{ institution.IdAttribute }}</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <h2>Institutional Services</h2>
        {% if institution.InstitutionServices|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th class="col-3">Service</th>
                        <th class="col-1">IdP User </th>
                        <th class="col-1">Auth type</th>
                        <th class="col-4">Authorized</th>
                        <th class="col-3"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in institution.InstitutionServices|sort((a, b) => a.Service.name <=> b.Service.name) %}
                        <tr>
                            <td>{{ service.Service.name }}</td>
                            <td>{{ service.IdAttribute }}</td>
                            <td>{{ service.authzType }}</td>
                            <td>
                                <ul class="list-group list-group-horizontal">
                                    {% for member in service.AuthzMembers %}
                                        <li class="list-group-item">{{ member.member }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-end">
                                <a href="{{ path('auth_z_test', {'institution': institution.index, 'service': service.Service.slug}) }}" class="btn btn-success btn-sm">Test AuthZ</a>
                                <a href="{{ path('edit_institution_service', {'index': institution.index, 'slug': service.Service.slug}) }}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ path('delete_institution_service', {'index': institution.index, 'slug': service.Service.slug}) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="mb3">No institutional services found for {{ institution.name }}.</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {% if services|length > 0 %}
            {{ form_start(form) }}
            <div class="mb-3{% if form.service.vars.required %} required{% endif %}">
                {{ form_label(form.service, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.service, {'attr': {'class': 'form-select col col-11'}}) }}
                {{ form_errors(form.service) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Add Service'}) }}
            </div>
            {{ form_end(form) }}
        {% else %}
            <div><small><em>All available services have been added.</em></small></div>
        {% endif %}
    </div>
    <div class="mb-3">
        <h2>Current Sessions</h2>
        {% if sessions|length > 0 %}
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Session</th>
                        <th>Svc</th>
                        <th>UID</th>
                        <th>Email</th>
                        <th>FN</th>
                        <th>Name</th>
                        <th>IP</th>
                        <th>Expiration</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in sessions %}
                        <tr style="font-size: 0.85em">
                            <td>{{ key }}</td>
                            <td>{{ value.Service }}</td>
                            <td>{{ value.UserName }}</td>
                            <td>{{ value.Email }}</td>
                            <td>{{ value.GivenName }}</td>
                            <td>{{ value.Name }}</td>
                            <td>{{ value.RemoteIP }}</td>
                            <td>{{ (value.Expiration|trim)|date("m/d/Y H:i:s") }}</td>
                            <td>
                                <a href="{{ path('institution_session_clear', {'index': institution.index, 'key': key}) }}" class="text-danger">CLEAR</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="mb3">No active sessions found.</div>
        {% endif %}
    </div>
{% endblock %}