{% extends 'base.html.twig' %}

{% if form.vars.value.id is null %}
    {% set value = 'Add' %}
{% else %}
    {% set value = 'Edit' %}
{% endif %}

{% block title %}{{ value }} Service | WRLC Aladin-SP{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('list_services') }}">Services</a></li>
            {% if value == 'Edit' %}
                <li class="breadcrumb-item"><a href="{{ path('show_service', {'slug': form.vars.value.slug}) }}">{{ form.vars.value.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ value}} Service</li>
        </ol>
    </nav>
    <h1>{{ value }} Service</h1>
    {{ form_start(form) }}
        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <div class="mb-3 required">
            {{ form_row(form.slug) }}
        </div>
        <div class="mb-3 required">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3 required">
            {{ form_row(form.url) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.callback_path) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.legacy_login_path) }}
        </div>
        <div class="actions">
            {% if value == "Add" %}
                {{ form_widget(form.save) }}
            {% else %}
                {{ form_widget(form.save, {'label': 'Update Service'}) }}
            {% endif %}
            {% if value == 'Edit' %}
                <a href="{{ path('show_service', {'slug': form.vars.value.slug}) }}" class="btn btn-secondary">Cancel</a>
            {% endif %}
        </div>
    {{ form_end(form) }}
{% endblock %}