{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('list_services') }}">Services</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
        </ol>
    </nav>
    <div class="row align-items-center">
        <h1 class="col col-10">Service Details</h1>
        <span class="col col-2 text-end">
            <a href="{{ path('edit_service', {'slug': service.slug}) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('delete_service', {'slug': service.slug}) }}" class="btn btn-danger">Delete</a>
        </span>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row" class="col-2 table-primary">Slug</th>
                <td class="col-10">{{ service.slug }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Name</th>
                <td class="col-10">{{ service.name }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">URL</th>
                <td class="col-10">{{ service.url }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Callback Path</th>
                <td class="col-10">{{ service.callbackPath }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2 table-primary">Legacy Login Path</th>
                <td class="col-10">{{ service.legacyLoginPath }}</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <h2 class="col col-9">Institutional Services</h2>
        {% if service.serviceInstitutions|length > 0 %}
            <table class="table table-striped">
                <caption class="text-secondary form-text">To add an institutional service for {{ service.Name }}, please visit the page of the <a href="{{ path('list_institutions') }}">institution</a> you wish to add the service for.</caption>
                <thead>
                <tr class="table-dark">
                    <th class="col-3">Institution</th>
                    <th class="col-1">IdP User </th>
                    <th class="col-1">Auth type</th>
                    <th class="col-4">Authorized</th>
                    <th class="col-3"></th>
                </tr>
                </thead>
                <tbody>
                {% for institution in institutions|sort((a, b) => a.institution.name <=> b.institution.name) %}
                    <tr>
                        <td>{{ institution.institution.name }}</td>
                        <td>{{ institution.idAttribute }}</td>
                        <td>{{ institution.authzType }}</td>
                        <td>
                            <ul class="list-group list-group-horizontal" style="flex-wrap: wrap;">
                                {% for member in institution.authzMembers %}
                                    <li class="list-group-item">{{ member.member }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-end">
                            <a href="{{ path('auth_z_test', {'institution': institution.institution.index, 'service': service.slug}) }}" class="btn btn-success btn-sm">Test AuthZ</a>
                            <a href="{{ path('edit_service_institution', {'index': institution.institution.index, 'slug': service.slug}) }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ path('delete_service_institution', {'index': institution.institution.index, 'slug': service.slug}) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="mb3">No institutional services found for {{ service.name }}.</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <h2>Current Sessions</h2>
        {% if sessions|length > 0 %}
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Session</th>
                    <th>Inst</th>
                    <th>UID</th>
                    <th>Email</th>
                    <th>FN</th>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Expiration</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in sessions %}
                    <tr style="font-size: 0.85em">
                        <td>{{ key }}</td>
                        <td>{{ value.University }}</td>
                        <td>{{ value.UserName }}</td>
                        <td>{{ value.Email }}</td>
                        <td>{{ value.GivenName }}</td>
                        <td>{{ value.Name }}</td>
                        <td>{{ value.RemoteIP }}</td>
                        <td>{{ (value.Expiration|trim)|date("m/d/Y H:i:s") }}</td>
                        <td>
                            <a href="{{ path('service_session_clear', {'slug': service.slug, 'key': key}) }}" class="text-danger">CLEAR</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="mb3">No active sessions found.</div>
        {% endif %}
    </div>
{% endblock %}