{% extends 'base.html.twig' %}
{% block title %}Configuration{% endblock %}
{% block body %}
    <h1>Configuration</h1>
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        <div class="mb-3 {% if form.patron_authorization_url.vars.required == 1 %}required{% endif %}">
            {{ form_label(form.patron_authorization_url) }}
            {{ form_widget(form.patron_authorization_url) }}
            {{ form_help(form.patron_authorization_url) }}
            {{ form_errors(form.patron_authorization_url) }}
        </div>
        <div class="mb-3 {% if form.service_provider_name.vars.required == 1 %}required{% endif %}">
            {{ form_label(form.service_provider_name) }}
            {{ form_widget(form.service_provider_name) }}
            {{ form_help(form.service_provider_name) }}
            {{ form_errors(form.service_provider_name) }}
        </div>
        <div class="mb-3 {% if form.cookie_prefix.vars.required == 1 %}required{% endif %}">
            {{ form_label(form.cookie_prefix) }}
            {{ form_widget(form.cookie_prefix) }}
            {{ form_help(form.cookie_prefix) }}
            {{ form_errors(form.cookie_prefix) }}
        </div>
        <div class="mb-3">
            {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}