{% extends 'base.html.twig' %}

{% block title %}Current Sessions | WRLC Aladin-SP{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Current Sessions</li>
        </ol>
    </nav>
    <div class="row align-center">
        <h1 class="col col-6">Current Sessions</h1>
        <div class="col col-6 text-end">
            <a href="{{ path('sessions_clear') }}" class="btn btn-danger">Clear All Sessions</a>
        </div>
    </div>
    <p class="text-muted">Sessions are stored in Memcached and expire after 14 days.</p>
    {% if memcached|length > 0 %}
        <table class="table table-sm table striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Session</th>
                <th>Svc</th>
                <th>Inst</th>
                <th>UID</th>
                <th>Email</th>
                <th>FN</th>
                <th>Name</th>
                <th>IP</th>
                <th>Expiration</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in memcached %}
                <tr style="font-size: 0.85em">
                    <td>{% if key|default %}{{ key }}{% endif %}</td>
                    <td>{% if value.Service|default %}{{ value.Service }}{% endif %}</td>
                    <td>{% if value.University|default %}{{ value.University }}{% endif %}</td>
                    <td>{% if value.UserName|default %}{{ value.UserName }}{% endif %}</td>
                    <td>{% if value.Email|default %}{{ value.Email }}{% endif %}</td>
                    <td>{% if value.GivenName|default %}{{ value.GivenName }}{% endif %}</td>
                    <td>{% if value.Name|default %}{{ value.Name }}{% endif %}</td>
                    <td>{% if value.RemoteIP|default %}{{ value.RemoteIP }}{% endif %}</td>
                    <td>{% if value.Expiration|default %}{{ (value.Expiration|trim)|date("m/d/Y H:i:s") }}{% endif %}</td>
                    <td>
                        <a href="{{ path('session_clear', {'key': key}) }}" class="text-danger">CLEAR</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="mb3">No active sessions found.</div>
    {% endif %}
{% endblock %}