{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Institutions</li>
        </ol>
    </nav>
    <div class="row align-items-center">
        <h1 class="col col-9">Authorization Types</h1>
        <span class="col col-3 text-end">
            <a href="{{ path('create_authztype') }}" class="btn btn-primary">Add Authorization Type</a>
        </span>
    </div>
    {% if authztypes|length > 0 %}
        <table class="table table-striped table-sm">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-2">Type</th>
                    <th scope="col" class="col-3">Description</th>
                    <th scope="col" class="col-7"></th>
                </tr>
            </thead>
            <tbody>
                {% for authztype in authztypes %}
                    <tr>
                        <td>{{ authztype.Type }}</td>
                        <td>{{ authztype.Description }}</td>
                        <td class="text-end">
                            <a href="{{ path('edit_authztype', {'type': authztype.type}) }}" class="btn btn-sm btn-secondary">Edit</a>
                            <a href="{{ path('delete_authztype', {'type': authztype.type}) }}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="mb3">No authorization types found.</div>
    {% endif %}

{% endblock %}