{% extends 'test.base.html.twig' %}
{% block body %}
    <h1>Authentication Test</h1>
    <h2>Identity Provider:</h2>
    <div class="alert alert-primary" role="alert">
        If the IdP listed below is not the one you expected, you can <a href="{{ path('auth_n_test_clear', {'institution': institution.Index}) }}">clear your session</a> and log in again.
    </div>

    <dl>
        <dt class="mt-3"><pre class="mb-0">IdP Name</pre></dt>
        <dd class="mx-4"><pre class="mb-0">{{ idp.name.en }}</pre></dd>
        <dt class="mt-3"><pre class="mb-0">Entity ID</pre></dt>
        <dd class="mx-4"><pre class="mb-0">{{ idp.entityid }}</pre></dd>
    </dl>
    <h2>User Attributes:</h2>
    <dl>
        {% for key, value in attributes %}
            <dt class="mt-3"><pre class="mb-0">{{ key }}</pre></dt>
            <dd class="mx-4">
                    {% for item in value %}
                        <div><pre class="mb-0">{{ item }}</pre></div>
                    {% endfor %}
            </dd>
        {% endfor %}
    </dl>
{% endblock %}