{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Authentication Test</li>
        </ol>
    </nav>
    <h1>Authentication Test</h1>
    {{form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        <div class="mb-3">
            {{ form_label(form.institution) }}
            {{ form_widget(form.institution) }}
            {{ form_errors(form.institution) }}
        </div>
        <div class="mb-3">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
